# Description:
#   - Setup Moonbit with GitHub Actions
# REF:
#   - https://github.com/marketplace/actions/checkout

name: Setup-Moonbit@Dev
on:
  push:
    branches:
      - develop

jobs:
  setup-moonbit:
    strategy:
      matrix:
        os: [windows-latest, ubuntu-22.04, macos-latest]
    runs-on: ${{ matrix.os }}
    name: Setup MoonBit@${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.0

      - name: Setup Moonbit
        uses: hustcer/setup-moonbit@develop
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Check Moonbit Version
        run: |
          moon version
          moonc -v
          moonrun --version
