# Description:
#   - Setup Moonbit with GitHub Actions
# REF:
#   - https://github.com/marketplace/actions/checkout

name: Setup-Moonbit@Daily Checking
on:
  workflow_dispatch:
  push:
    branches:
      - main
      - develop
  # This schedule will run only from the default branch
  schedule:
    - cron: '15 0 * * *' # run at 00:15 AM UTC

jobs:
  setup-latest:
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]

    runs-on: ${{ matrix.os }}
    name: Setup Latest@${{ matrix.os }}
    steps:
      - name: Setup Moonbit
        uses: hustcer/setup-moonbit@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Check Moonbit Version
        run: |
          moon version --all

  setup-rc:
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]

    runs-on: ${{ matrix.os }}
    name: Setup Pre-Release@${{ matrix.os }}
    steps:
      - name: Setup Moonbit
        uses: hustcer/setup-moonbit@main
        with:
          version: pre-release
          core-version: pre-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Check Moonbit Version
        run: |
          moon version --all

  setup-nightly:
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]

    runs-on: ${{ matrix.os }}
    name: Setup Nightly@${{ matrix.os }}
    steps:
      - name: Setup Moonbit
        uses: hustcer/setup-moonbit@develop
        with:
          version: nightly
          core-version: nightly
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Check Moonbit Version
        run: |
          moon version --all

  create-failure-alert:
    needs: [setup-latest, setup-rc, setup-nightly]
    runs-on: ubuntu-latest
    if: ${{ failure() }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Create an Issue for Release Failure
        uses: JasonEtco/create-an-issue@v2.9.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          update_existing: true
          search_existing: open
          filename: .github/AUTO_ISSUE_TEMPLATE/daily-checking-fail.md
