# Description:
#   - Setup Moonbit with GitHub Actions
# REF:
#   - https://github.com/marketplace/actions/checkout

name: Setup-Moonbit@Release
on:
  workflow_dispatch:
  push:
    branches:
      - main

    paths-ignore:
      - '**.md'

jobs:
  setup-moonbit:
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-latest, ubuntu-22.04-arm, macos-latest]
    runs-on: ${{ matrix.os }}
    name: Setup MoonBit@${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Moonbit
        uses: hustcer/setup-moonbit@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Check Moonbit Version
        run: |
          moon version --all
